*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #9FB6BF;
}

#container{
    display: grid;
    height: 2000px;
    grid-template-columns: 100%;
    grid-auto-rows: 20% 5% auto 30%;
    grid-template-areas: "header" "nav" "main" "footer";
}

header{
    grid-area: header;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 30px;
    width: 100%;
    background-color:#024059;
}  

.logo img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    transform: rotate(15deg);
}

.logo{
    text-align: center;
}


ul{
    list-style-type: none;
    display: inline-block; 
    background-color: #024059;
}

.redesHeader{
    padding-top: 10px;
    display: flex;
    align-items: flex-start;

}
.logo img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    justify-self: center;
}

nav{
    grid-area: nav;
    width: 100%;
    background-color:#024059;
    display: flex;
    flex-direction: row;
    
}

.nav > li{
    float: left;
}

.nav li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:#F2F2F2;
    padding-top: 20px;
    padding:20px 70px 20px 70px;
    width: 100%;

}
.nav li a:hover {
    background-color: #434343;

}

.nav li ul{
    display:none;
    position: absolute;
    justify-content: space-evenly;    
}

.nav li:hover > ul {
    display: inline;
    background-color: #024059;
}

#carouselExampleControls{
    width: 80%;
    margin: 20px auto;

}

.texto {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #F2F2F2;
}

main{
    grid-area:main;
    background-color: #9FB6BF;
}



article{
    text-align: center;
    background-color: #9FB6BF;
    font-family:'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    border: solid 1px #024059;
    padding:0 30px 0 30px;
}

.contenedorInsta{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    grid-gap:10px;
    padding:20px;
}

.imgInsta{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.texto {
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #F2F2F2;

}


form{
    text-align: center;
    width: 100%;
    font-family: 'Josefin Sans';
    font-size: 20px;
}


.btn {
    width: 250px;
    height: 100px;
}

.footer{
    width: 100%;
    background-color: #024059;
}

#footer{
    grid-area:footer;
    color:#F2F2F2;
    
} 

footer li a{
    display:block;
    width: 100%;
    background-color: #024059;
    text-decoration: none;
    padding: 20px 0 20px 0;
    overflow-x: hidden;
}

footer li{
    display:block;
    background-color: #024059;
}

footer p{
    color: #F2F2F2;
}

footer{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: #024059;
    height: 30%;
    padding-top:20px;
}

@media only screen and (min-width: 768px){

    .nav li a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color:#F2F2F2;
        padding:20px 70px 20px 70px;
        width: 100%;
    
    }
    .menu_bar{
        display:none;
    }


    main{
        grid-area:main;
    }

    .carousel-item{
        height: 700px;
    }

     .gallery-container{
         display:grid;
         grid-template-columns: repeat(4,2fr);
         grid-auto-rows: 300px;
         grid-gap:20px;
         padding:20px;
    }
    
    .gallery__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    footer li{
        display:inline-block;
        background-color: #024059;
    }

    article{
        text-align: center;
        background-color: #9FB6BF;
        font-family:'Josefin Sans', sans-serif;
        font-size: 40px;
        font-weight: 200;
        width: 100%;
        border: solid 1px #024059;
        padding:0 30px 0 30px;
    }